Repository vitekkor/mintKV, pull requests merged in 2024-06, with the labels that each got.

#43 26 raft on append entries
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/main/java/com/mint/db/replication/ReplicatedLogManager.java
  database/src/main/java/com/mint/db/replication/impl/ReplicatedLogManagerImpl.java
  database/src/main/java/com/mint/db/util/EntryConverter.java
  database/src/test/java/com/mint/db/raft/RaftActorTest.java
Labels: raft

#42 closes #38 and implements log rollback without data rollback
  database/src/main/java/com/mint/db/dao/impl/StringDaoWrapper.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/main/java/com/mint/db/replication/ReplicatedLogManager.java
  database/src/main/java/com/mint/db/replication/impl/ReplicatedLogManagerImpl.java
  database/src/test/java/com/mint/db/dao/ReplicatedLogManagerTest.java
Labels: raft

#45 onClientCommand and onClientCommandResult
  database/src/main/java/com/mint/db/config/InjectionModule.java
  database/src/main/java/com/mint/db/dao/Entry.java
  database/src/main/java/com/mint/db/grpc/ExternalGrpcActorInterface.java
  database/src/main/java/com/mint/db/grpc/server/ExternalServiceImpl.java
  database/src/main/java/com/mint/db/raft/DaoStateMachine.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/main/java/com/mint/db/raft/RaftActorInterface.java
  database/src/main/java/com/mint/db/raft/StateMachine.java
  database/src/test/java/com/mint/db/raft/RaftActorTest.java
Labels: raft

#51 #46 and #49
  database/src/main/java/com/mint/db/config/InjectionModule.java
  database/src/main/java/com/mint/db/grpc/ExternalGrpcActorInterface.java
  database/src/main/java/com/mint/db/grpc/InternalGrpcActor.java
  database/src/main/java/com/mint/db/grpc/InternalGrpcActorInterface.java
  database/src/main/java/com/mint/db/grpc/client/InternalGrpcClient.java
  database/src/main/java/com/mint/db/grpc/server/ExternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/InternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/Server.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/main/proto/internal/raft.proto
Labels: grpc

#53 onAppendEntryResult implementation
  database/src/main/java/com/mint/db/dao/Entry.java
  database/src/main/java/com/mint/db/dao/impl/BaseEntry.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/main/java/com/mint/db/raft/model/Pair.java
Labels: raft

#57 #52
  .run/Run_node_0.run.xml
  .run/Run_node_1.run.xml
  .run/Run_node_2.run.xml
  configs/node-config-0.yaml
  configs/node-config-1.yaml
  configs/node-config-2.yaml
  database/src/main/java/com/mint/db/config/InjectionModule.java
  database/src/main/java/com/mint/db/grpc/ExternalGrpcActorInterface.java
  database/src/main/java/com/mint/db/grpc/server/ExternalServiceImpl.java
Labels: Infrastructure, test

#54 #48 mock test infrastructure
  class-diagram.drawio
  class-diagram.png
  database/build.gradle.kts
  database/src/main/java/com/mint/db/MintKVDatabase.java
  database/src/main/java/com/mint/db/config/InjectionModule.java
  database/src/main/java/com/mint/db/config/annotations/DaoBean.java
  database/src/main/java/com/mint/db/config/annotations/EnvironmentBean.java
  database/src/main/java/com/mint/db/config/annotations/ReplicatedLogManagerBean.java
  database/src/main/java/com/mint/db/config/annotations/StateMachineBean.java
  database/src/main/java/com/mint/db/dao/Entry.java
  database/src/main/java/com/mint/db/dao/impl/BaseEntry.java
  database/src/main/java/com/mint/db/grpc/InternalGrpcActor.java
  database/src/main/java/com/mint/db/grpc/InternalGrpcActorInterface.java
  database/src/main/java/com/mint/db/grpc/client/ExternalGrpcClient.java
  database/src/main/java/com/mint/db/grpc/client/InternalGrpcClient.java
  database/src/main/java/com/mint/db/grpc/server/ExternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/InternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/Server.java
  database/src/main/java/com/mint/db/raft/Environment.java
  database/src/main/java/com/mint/db/raft/EnvironmentImpl.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/main/java/com/mint/db/raft/RaftActorInterface.java
  database/src/main/java/com/mint/db/raft/model/Command.java
  database/src/main/java/com/mint/db/raft/model/GetCommand.java
  database/src/main/java/com/mint/db/raft/model/InsertCommand.java
  database/src/main/java/com/mint/db/replication/ReplicatedLogManager.java
  database/src/main/java/com/mint/db/replication/impl/ReplicatedLogManagerImpl.java
  database/src/main/java/com/mint/db/replication/model/LogEntry.java
  database/src/main/java/com/mint/db/replication/model/Message.java
  database/src/main/java/com/mint/db/replication/model/impl/BaseLogEntry.java
  database/src/main/java/com/mint/db/replication/model/impl/FollowerMessage.java
  database/src/main/java/com/mint/db/replication/model/impl/LeaderMessage.java
  database/src/main/java/com/mint/db/util/ClientCommandResultConsumer.java
  database/src/test/java/com/mint/db/dao/ReplicatedLogManagerTest.java
  database/src/test/java/com/mint/db/raft/RaftActorTest.java
  database/src/test/java/com/mint/db/raft/mock/InternalGrpcActorMock.kt
  database/src/test/java/com/mint/db/raft/mock/MockDaoStateMachine.kt
  database/src/test/java/com/mint/db/raft/mock/MockReplicatedLogManager.kt
  database/src/test/java/com/mint/db/raft/mock/MockTest.kt
  database/src/test/java/com/mint/db/raft/mock/RaftActorForMockTest.kt
  database/src/test/java/com/mint/db/raft/mock/Random.kt
  database/src/test/resources/logback.xml
  settings.gradle.kts
Labels: raft, test

#58 Feature/#50 external http API ⚡⚡🤙
  database/src/main/java/com/mint/db/MintKVDatabase.java
  database/src/main/java/com/mint/db/config/InjectionModule.java
  database/src/main/java/com/mint/db/config/annotations/CallbackKeeperBean.java
  database/src/main/java/com/mint/db/grpc/ExternalGrpcActorInterface.java
  database/src/main/java/com/mint/db/grpc/server/ExternalServiceImpl.java
  database/src/main/java/com/mint/db/http/server/CallbackKeeper.java
  database/src/main/java/com/mint/db/http/server/ExternalHttpServer.java
  database/src/main/java/com/mint/db/http/server/dto/DeleteRequestDto.java
  database/src/main/java/com/mint/db/http/server/dto/GetRequestDto.java
  database/src/main/java/com/mint/db/http/server/dto/InsertRequestDto.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/test/java/com/mint/db/raft/RaftActorTest.java
  database/src/test/java/com/mint/db/raft/mock/MockTest.kt
  database/src/test/java/com/mint/db/raft/mock/RaftActorForMockTest.kt
Labels: design, api

#60 #59 issue
  configs/node-config-0.yaml
  configs/node-config-1.yaml
  configs/node-config-2.yaml
  database/src/main/java/com/mint/db/config/InjectionModule.java
  database/src/main/java/com/mint/db/config/NodeConfig.java
  database/src/main/java/com/mint/db/grpc/server/ExternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/InternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/Server.java
  database/src/main/java/com/mint/db/http/server/ExternalHttpServer.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/test/java/com/mint/db/config/ConfigParserTest.java
  database/src/test/java/com/mint/db/raft/RaftActorTest.java
Labels: bug, Infrastructure, test

#61 #55 integration test
  .gitignore
  .run/Run node 0.run.xml
  .run/Run node 1.run.xml
  .run/Run node 2.run.xml
  configs/node-config-0.yaml
  configs/node-config-1.yaml
  configs/node-config-2.yaml
  database/application.yml
  database/build.gradle.kts
  database/src/main/java/com/mint/db/config/InjectionModule.java
  database/src/main/java/com/mint/db/config/NodeConfig.java
  database/src/main/java/com/mint/db/dao/Dao.java
  database/src/main/java/com/mint/db/dao/impl/BaseDao.java
  database/src/main/java/com/mint/db/dao/impl/BaseEntry.java
  database/src/main/java/com/mint/db/dao/impl/MemorySegmentComparator.java
  database/src/main/java/com/mint/db/dao/impl/StringDaoWrapper.java
  database/src/main/java/com/mint/db/dao/impl/StringEntry.java
  database/src/main/java/com/mint/db/grpc/InternalGrpcActor.java
  database/src/main/java/com/mint/db/grpc/client/InternalGrpcClient.java
  database/src/main/java/com/mint/db/grpc/server/ExternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/InternalServiceImpl.java
  database/src/main/java/com/mint/db/grpc/server/Server.java
  database/src/main/java/com/mint/db/http/server/CallbackKeeper.java
  database/src/main/java/com/mint/db/raft/DaoStateMachine.java
  database/src/main/java/com/mint/db/raft/RaftActor.java
  database/src/main/java/com/mint/db/replication/ReplicatedLogManager.java
  database/src/main/java/com/mint/db/replication/impl/ReplicatedLogManagerImpl.java
  database/src/main/java/com/mint/db/replication/model/impl/BaseLogEntry.java
  database/src/main/java/com/mint/db/util/EntryConverter.java
  database/src/main/proto/external/database_service.proto
  database/src/main/proto/internal/raft.proto
  database/src/main/resources/logback.xml
  database/src/test/java/com/mint/db/config/ConfigParserTest.java
  database/src/test/java/com/mint/db/dao/util/BaseTest.java
  database/src/test/java/com/mint/db/raft/RaftActorTest.java
  database/src/test/java/com/mint/db/raft/integration/IntegrationTest.kt
  database/src/test/java/com/mint/db/raft/integration/configuration/Configuration.kt
  database/src/test/java/com/mint/db/raft/integration/configuration/IntegrationTestInjectionModule.java
  database/src/test/java/com/mint/db/raft/integration/configuration/annotations/TestStateMachineBean.java
  database/src/test/java/com/mint/db/raft/integration/system/DistributedTestSystem.kt
  database/src/test/java/com/mint/db/raft/integration/system/ITStateMachine.kt
  database/src/test/java/com/mint/db/raft/integration/system/NodeGrpcClient.java
  database/src/test/java/com/mint/db/raft/integration/system/NodeProcess.kt
  database/src/test/java/com/mint/db/raft/mock/MockTest.kt
  database/src/test/java/com/mint/db/raft/mock/Random.kt
  database/src/test/resources/logback.xml
  database/src/test/resources/node-config-0.yaml
  database/src/test/resources/node-config-1.yaml
  database/src/test/resources/node-config-2.yaml
  database/src/test/resources/node-config-3.yaml
  database/src/test/resources/node-config-4.yaml
  database/src/test/resources/node-config.yaml
Labels: test
